<div class='jumbotron'> 
  <h1 class='logo col col-lg-offset-2'> Welcome! </h1>
  <p class='col col-lg-offset-2'>
    Classy can help. Put down the marker. Put down the grid paper. Leave the doodling to your kids.
  </p>
</div>

<div class='container'>
  <table class="table table-bordered splash-grid">
    <% 5.times do |row_num| %>
      <tr class="splash-grid-row">
        <% 10.times do |col_num| %>
          <td class='splash-grid-cell'
              row-num="<%= row_num %>"
              col-num="<%= col_num %>"> 
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<br><br>

<div class='jumbotron' id='signup-form'>
  <h3 class='col col-lg-offset-2'> Sign Up </h3>
  <form class="form-horizontal" action="/users" method="POST">
  <fieldset>
  <input type ="hidden" name ="authenticity_token" value="<%=form_authenticity_token%>" >
    <div class="form-group">
      <label for="username-input" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-2">
        <input type="text"
               name="user[username]"
               id="username-input"
               value="<%=@user.username%>"
               class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="password-input" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-2">
        <input type="password"
               name="user[password]"
               id="password-input"
               class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
         <input type="submit" name="Log in" class='btn btn-default' >
        <br>
        <br>
        <a class="btn btn-info old-user-button" href="/session/new">
          I'm already a User
        </a>
      </div>
    </div>
  </fieldset>
</form>
</div>

<div class='container'>
  <table class="table table-bordered splash-grid">
    <% 5.times do |row_num| %>
      <tr class="splash-grid-row">
        <% 10.times do |col_num| %>
          <td class='splash-grid-2-cell'
              row-num="<%= row_num %>"
              col-num="<%= col_num %>"> 
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

  <script>
  $(function(){
    setInterval(function(){
      var randRow = Math.floor(Math.random() * 5)
      var randCol = Math.floor(Math.random() * 10)
      var selectedSquare = $("td[row-num=" + randRow +  "][col-num=" + randCol + "].splash-grid-cell")
      selectedSquare.toggleClass("success")
    }, 500)

    setInterval(function(){
      var randRow = Math.floor(Math.random() * 5)
      var randCol = Math.floor(Math.random() * 10)
      var selectedSquare = $("td[row-num=" + randRow +  "][col-num=" + randCol + "].splash-grid-2-cell")
      selectedSquare.toggleClass("success")
    }, 500)

    $(".splash-grid-cell, .splash-grid-2-cell").click(function(){
      var span = $("<span>").text("Sign up to get started!").css({"text-align": "center"})
      $(this).removeClass("success").addClass("info").html(span)
      $("#signup-form").animatescroll({scrollspeed: 3000})
    })

    $(".splash-grid-cell, .splash-grid-2-cell").mouseenter(function(){
      $(this).addClass("active")
    }).mouseleave(function(){
      $(this).removeClass("active")
    });
  })
</script>
</div>
