
	<td>
		<%= student.escape("first_name") %>
	</td>
	<td> <%= student.escape("last_name") %> </td>
	<td> <%= student.escape("gender") %> </td>
	<td> <%= student.escape("math_level") %> </td>
	<td> <%= student.escape("reading_level") %> </td>
	<td>
		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
		</td> 
		<td>
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	</td>
