
	<td> <%= student.escape("first_name") %> </td>
	<td> <%= student.escape("last_name") %> </td>
	<td> <%= student.escape("gender") %> </td>
	<td> <%= student.escape("reading_level") %> </td>
	<td> <%= student.escape("math_level") %> </td>
