<td class="student-icon-draggable-start" student-id="<%=student.get("id")%>">
	<div class='student-draggable-container'>
		<div  class="student-icon-draggable" student-id="<%=student.get("id")%>">
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span> </div>
	<div>
</td>
<td> <%= student.escape("first_name") %> </td>
<td> <%= student.escape("reading_level") %> </td>
<td> <%= student.escape("math_level") %> </td>