<!DOCTYPE html>
<html>
<head>
  <title> Classy </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
   <div class= "container">
   	<div class="row">
	    <% if flash[:errors] %>
	      <div class="alert alert-warning alert-dismissible" role="alert">
	         <button type="button" class="close" data-dismiss="alert">
	            <span aria-hidden="true">&times;</span>
	            <span class="sr-only">Close</span>
	          </button>
	          <%= flash[:errors].join("<br>").html_safe %>
	      </div>
	    <% end %>
	  </div>
   	</div>
</head>
<body>
<%= yield %>

</body>
</html>
